<div class='main-nav'>
  <div class='navbar navbar-dark bg-dark navbar-expand-sm'>
      <div class='navbar-brand'>
          <a class='navbar-brand' [routerLink]='["/"]'>Experimental Blog</a>
      </div>
      <div class='clearfix'></div>
      <div class='navbar-collapse collapse' [ngClass]='{ "in": isExpanded }'>
        <ul class='navbar-nav flex-column'>
          <li class="nav-item" [routerLinkActive]='["link-active"]' [routerLinkActiveOptions]='{ exact: true }'>
            <a class="nav-link" [routerLink]='["/"]' (click)='collapse()'>
              <span class='fa fa-home'></span> Home
            </a>
          </li>
          <li class="nav-item" [routerLinkActive]='["link-active"]'>
            <a class="nav-link" [routerLink]='["/blogs"]' (click)='collapse()'>
              <span class='fa fa-sun-o'></span> Blogs
            </a>
          </li>
          <li class="nav-item" [routerLinkActive]='["link-active"]'>
            <a class="nav-link" [routerLink]='["/blogEntries"]' (click)='collapse()'>
              <span class='fa fa-sun-o'></span> Blog Entries
            </a>
          </li>
          <li class="nav-item" [routerLinkActive]='["link-active"]' *ngIf="!isLogged()">
            <a class="nav-link" [routerLink]='["/login"]' (click)='collapse()'>
              <span class='fa fa-sun-o'></span> Login
            </a>
          </li>
          <li class="nav-item" *ngIf="isLogged()">
            <a class="nav-link" (click)='logout()'>
              <span class='fa fa-graduation-cap'></span>{{ getUserName() }} Logout
            </a>
          </li>
        </ul>
      </div>
  </div>
</div>
